<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <button onclick="tt()">312</button>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        var hylw = [ {
            "hid": 43,
            "number": "z123",
            "name": "张三",
            "department": "外国语学院",
            "timu": "new2",
            "dyzz": "31",
            "qtzz": "321",
            "press": "31",
            "hyname": "321",
            "wheres": "321",
            "times": "2020-10-17",
            "rank": "国际",
            "types": "CPCI-S(科技会议录索引)收录论文",
            "points": "10",
            "reward": "0",
            "shoulu": "321",
            "zishu": "231",
            "systime": "2020-10-15",
            "fjsc": "外4f20页您品新零售平台.pdf",
            "judgestatus": "3",
            "departmentopinion": null,
            "schoolopinion": null,
            "uploadfile": null
        },{
            "hid": 45,
            "number": "z123",
            "name": "张三",
            "department": "外国语学院",
            "timu": "231111111111111111111111111111111111111111111111",
            "dyzz": "231111111111111111",
            "qtzz": "23111111111111111111111111111111111111111111111",
            "press": "23111111111111111111111111111111111111111111111",
            "hyname": "23111111111111111111111111111111111111111111111",
            "wheres": "23111111111111111111111111111111111111111111111",
            "times": "2020-10-15",
            "rank": "国际",
            "types": "法学研究",
            "points": "500",
            "reward": "0",
            "shoulu": "23111111111111111111111111111111111111111111111",
            "zishu": "23111111111111111111111111111111111111111111111",
            "systime": "2020-10-10",
            "fjsc": "安阳师范学院 .pdf",
            "judgestatus": "2",
            "departmentopinion": null,
            "schoolopinion": null,
            "uploadfile": null
        }, {
            "hid": 50,
            "number": "z123",
            "name": "张三",
            "department": "外国语学院",
            "timu": "eqw",
            "dyzz": "qewq",
            "qtzz": "eqw",
            "press": "ew",
            "hyname": "wq",
            "wheres": "weq",
            "times": "2020-10-29",
            "rank": "国际",
            "types": "政治学研究",
            "points": "500",
            "reward": "0",
            "shoulu": "ewq",
            "zishu": "qw",
            "systime": "2020-10-07",
            "fjsc": "范学院 .pdf",
            "judgestatus": "3",
            "departmentopinion": null,
            "schoolopinion": null,
            "uploadfile": null
        }]


        var time = {"status":1,"des":"2"}
        var time2 = {status: 0, description: "不可以修改"}
        if (time2.status==1){
            console.log(true)
        } else{
            console.log(false)
        }

        //json
        for (var i = 0; i < hylw.length; i++) {
            // console.log(hylw[i])
            // console.log(hylw[i].name)
            console.log(hylw[i].systime);

            // excel
        }

        function f() {
            return 1;
        }

        function tt() {
            console.log(f())
        }


    </script>
</head>
<body>


</body>
</html>


<!--String number;  //工号-->
<!--String name;  //姓名-->
<!--String department; //院系-->
<!--String timu; //题目-->
<!--String dyzz;//第一作者-->
<!--String qtzz;//其它作者-->
<!--String press;//出版商-->
<!--String hyname;//会议名称-->
<!--String wheres;//会议地点-->
<!--String times;//会议时间-->
<!--String rank;//会议级别-->
<!--String types;   //奖励类别-->
<!--String points;  //业绩点-->
<!--String reward;  //科研奖励(万元)-->
<!--String shoulu;  //收录-->
<!--String zishu;  //字数-->
<!--String systime;  //申请时间-->
<!--String fjsc;  //附件上传 不需要导出来-->
<!--String judgestatus;  //审核状态   有1 2 3 4 5 100  -->

