<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="pages/common/aboutschool:: zschschoolheader"></div>
</head>

<body class="hold-transition skin-red-light sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">


        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>科研处</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>知识产权</b></span>
        </a>


        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs" th:text="${session.USER_SESSION.name}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <p th:text="${session.USER_SESSION.name}">
                                    <!--张猿猿 - 数据管理员-->
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a onclick="goPersonPage()" class="btn btn-default btn-flat">修改个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a onclick="lougout()" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->
    <!-- 导航侧栏 -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <div th:replace="pages/common/aboutschool:: zschschoolmenu"></div>

        </section>
        <!-- /.sidebar -->
    </aside>


    <div class="content-wrapper">
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                数据管理

            </h1>

        </section>
        <!-- 内容头部 /-->
        <!-- 正文区域 -->
        <section class="content">
            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-body">
                    <!-- 数据表格 -->
                    <div class="table-box">


                        <div class="pull-left ">
                            <div class="form-group form-inline">

                                <button type="button" class="btn btn-xs bg-olive " onclick='ExcelBrief()'><i
                                        class="fa fa-save"></i>导出
                                </button>


                            </div>
                        </div>

                        <div class="box-tools pull-right">
                            <table>
                                <tr>
                                    <td>院系：</td>
                                    <td>
                                        <select id="department" class="form-control">
                                            <option value="-1" th:selected="-1==${department}">请选择</option>
                                            <span th:each="de:${departments}">
                                                    <option th:value="${de.name}" th:text="${de.name}"
                                                            th:selected="${de.name eq department}"></option>
                                                </span>
                                        </select>
                                    </td>
                                    <td>工号：</td>
                                    <td>
                                        <input type="text" class="form-control input-sm " id="number"
                                               th:value="${number}">
                                    </td>
                                    <td>类别：</td>
                                    <td>
                                        <input type="text" class="form-control input-sm " id="tcategory"
                                               th:value="${tcategory}">
                                    </td>
                                    <td>开始时间：</td>
                                    <td>
                                        <input type="date" class="form-control input-sm" id="start" th:value="${start}">
                                    </td>


                                    <td>结束时间：</td>
                                    <td>
                                        <input type="date" class="form-control input-sm" id="end" th:value="${end}">
                                    </td>
                                    <td>审核状态：</td>
                                    <td>
                                        <select id="judgestatus" class="form-control">
                                            <option value="-1" th:selected="-1==${judgestatus}">请选择</option>
                                            <option value="2" th:selected="2==${judgestatus}">等待学校审核</option>
                                            <option value="3" th:selected="3==${judgestatus}">审核通过</option>
                                            <option value="5" th:selected="5==${judgestatus}">学校退回</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default" onclick="goszscqBydetail()"><i
                                                class="fa fa-search"></i>搜索
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </div>


                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable totable">
                            <thead>
                            <tr>
                                <th class="text-center" width="10%">院系</th>
                                <th class="text-center" width="8%">填报人(工号)</th>

                                <th class="text-center" width="15%">项目名称</th>
                                <th class="text-center" width="6%">申请人</th>
                                <th class="text-center" width="6%">类别</th>
                                <th class="text-center" width="5%">成果类型</th>
                                <th class="text-center" width="6%">申请日期</th>
                                <th class="text-center" width="6%">状态</th>
                                <th class="text-center" width="17%">操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="departmentDoc:${pageInfo.list}">
                                <td th:text="${departmentDoc.department}" class="txt"></td>
                                <td th:text="${departmentDoc.name}+'('+${departmentDoc.tusername}+')'" class="txt"></td>

                                <td th:text="${departmentDoc.tname}" class="txt"></td>
                                <td th:text="${departmentDoc.tinventionname}" class="txt"></td>
                                <td th:text="${departmentDoc.tcategory}" class="txt"></td>
                                <td th:text="${departmentDoc.tduty}" class="txt"></td>

                                <td th:text="${departmentDoc.adate}" class="txt"></td>
                                <td name="judgestatus" style="display: none"
                                    th:text="${departmentDoc.judgestatus}"></td>
                                <td>
                                    <span th:switch="${departmentDoc.judgestatus}">
                                        <p th:case="1">等待院系审核</p>
                                        <p th:case="2">等待学校审核</p>
                                        <p th:case="3">审核通过</p>
                                        <p th:case="4">
                                            <button class="btn btn-xs bg-olive"
                                                    th:onclick="alert([[${departmentDoc.departmentopinion}]])">院系退回</button>
                                        </p>
                                        <p th:case="5">
                                            <button class="btn btn-xs bg-olive"
                                                    th:onclick="alert([[${departmentDoc.schoolopinion}]])">学校退回</button>
                                        </p>
                                        <p th:case="100">待完善</p>
                                    </span>
                                </td>


                                <td>
                                    <!--${departmentDoc.tid}-->
                                    <button th:onclick="|javascript:readSchoolDoc(${departmentDoc.tid})|" type="button"
                                            class="btn btn-xs bg-olive">查看
                                    </button>

                                    <span th:if="${departmentDoc.judgestatus} eq '3'">
                                            <button th:onclick="|javascript:translateDoc(${departmentDoc.tid})|"
                                                    type="button" class="btn btn-xs bg-olive">导出Word</button>
                                         <button th:onclick="|javascript:translatePdf(${departmentDoc.tid})|"
                                                 type="button" class="btn btn-xs bg-olive">导出PDF</button>
                                            <button type="button"
                                                    class="btn btn-xs bg-olive"
                                                    th:onclick="|javascript:Values(${departmentDoc.tid})|">上传/下载证书</button>

                                        <div class="modal fade" id="uploadPdf" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">

                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        上传文件(PDF格式、大小不超过10M)
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="hidden" id="keytid" value="0"/>
                                                    <input type="file" id="pdffile" class="text-center"
                                                           name="pdffile"><br>
                                                    <button onclick="uploadpdffile()" type="submit"
                                                            class="btn btn-default">提交
                                                    </button>
                                                    <button id="download" th:onclick="downpdffile()" type="button"
                                                            class="btn btn-default">下载
                                                    </button>
                                                           <br>

                                                     <input class="btn btn-default Existingfile" style="width: 400px;"
                                                            disabled="disabled"/>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                    </span>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                        <!--数据列表/-->


                    </div>
                    <!-- 数据表格 /-->


                </div>


                <div class="modal-footer no-margin-top">
                    <div class="col-md-6">
                        当前第[[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页。一共[[${pageInfo.total}]]条记录
                    </div>

                    <ul class="pagination pull-right no-margin">
                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a th:onclick="|javascript:goszscqnext(1)|">首页</a>
                        </li>


                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo.navigatepageNums}">
                            <a th:onclick="|javascript:goszscqnext(${nav})|" th:text="${nav}"
                               th:if="${nav != pageInfo.pageNum}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                                  th:text="${nav}"></span>
                        </li>


                        <li>
                            <a th:onclick="|javascript:goszscqnext(${pageInfo.pages})|">尾页</a>
                        </li>
                    </ul>
                </div>


            </div>
        </section>
        <!-- 正文区域 /-->
    </div>

    <!-- @@close -->
    <!-- 内容区域 /-->


</div>


<div th:replace="pages/common/aboutschool:: zschschoolfooter"></div>

<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();
    });
    setSidebarActive("zscq");

    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    // 列表按钮   让按钮变大
    $("#dataList td input[type='checkbox']").iCheck({
        checkboxClass: 'icheckbox_square-blue',
        increaseArea: '20%'
    });
    // 全选操作  全选操作
    $("#selall").click(function () {
        var clicks = $(this).is(':checked');
        if (!clicks) {
            $("#dataList td input[type='checkbox']").iCheck("uncheck");
        } else {
            $("#dataList td input[type='checkbox']").iCheck("check");
        }
        $(this).data("clicks", !clicks);
    });
</script>
</body>

</html>