<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="pages/common/aboutteacher:: zschteacherheader"></div>
</head>

<body class="hold-transition skin-red-light sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">


        <!-- Logo -->
        <a href="#" class="logo">
            <span class="logo-mini"><b>科研处</b></span>
            <span class="logo-lg"><b>知识产权</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs" th:text="${session.USER_SESSION.name}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <p th:text="${session.USER_SESSION.name}">
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a onclick="goPersonPage()" class="btn btn-default btn-flat">修改个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a onclick="lougout()" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->

    <aside class="main-sidebar">
        <section class="sidebar">
            <div th:replace="pages/common/aboutteacher:: zschteachermenu"></div>
        </section>
    </aside>


    <div class="content-wrapper">

        <section class="content-header">
            <h1>
                数据管理

            </h1>



        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-body">
                    <!-- 数据表格 -->
                    <div class="table-box">
                        <!--工具栏-->

                        <div class="pull-left">
                            <div class="form-group form-inline">
                                    <button type="button" class="btn btn-xs bg-olive" onclick="gozscqwrite()"><i
                                            class="fa fa-plus-square-o"></i>添加
                                    </button>

                                    <button type="button" class="btn btn-xs bg-olive" onclick='zscqdelete()'><i
                                            class="fa fa-trash-o"></i>删除
                                    </button>
                                    <!--<button type="button" class="btn btn-xs bg-olive" onclick="batchfile()"><i-->
                                            <!--class="fa fa-arrow-circle-o-down"></i>批量下载附件-->
                                    <!--</button>-->


                            </div>
                        </div>

                        <div class="box-tools pull-right">
                                <table>
                                    <tr>
                                        <td>开始时间：</td>
                                        <td>
                                            <input type="date" class="form-control input-sm" id="start"
                                                   th:value="${start}">
                                        </td>


                                        <td>&nbsp;</td>
                                        <td>结束时间：</td>
                                        <td>
                                            <input type="date" class="form-control input-sm" id="end" th:value="${end}">
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>审核状态：</td>
                                        <td>
                                            <select id="judgestatus" class="form-control">
                                                <option value="-1" th:selected="-1==${judgestatus}">请选择</option>
                                                <option value="1" th:selected="1==${judgestatus}">等待院系审核</option>
                                                <option value="2" th:selected="2==${judgestatus}">等待学校审核</option>
                                                <option value="3" th:selected="3==${judgestatus}">审核通过</option>
                                                <option value="4" th:selected="4==${judgestatus}">院系退回</option>
                                                <option value="5" th:selected="5==${judgestatus}">学校退回</option>
                                                <option value="100" th:selected="100==${judgestatus}">待完善</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default" onclick="gozscqBydetail()"><i
                                                    class="fa fa-search"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                        </div>


                        <!--工具栏/-->
                        <!--数据列表-->
                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable totable">
                            <thead>
                            <tr>
                                <!--<th class="text-center">序号</th>-->
                                <th class="text-center" width="2%"><input type="checkbox" id="selall"
                                                               class="icheckbox_square-blue"></th>
                                <!--<th class="text-center" width="8%">填报人(工号)</th>-->
                                <th class="text-center" width="10%">项目名称</th>
                                <th class="text-center" width="7%">申请人</th>
                                <th class="text-center" width="7%">类别</th>
                                <th class="text-center" width="7%">成果类型</th>
                                <th class="text-center" width="7%">申请日期</th>
                                <!--<th class="text-center">关于文件</th>-->
                                <th class="text-center" width="7%">审核状态</th>
                                <th class="text-center" width="17%">操作</th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr th:each="teacherDoc:${pageInfo.list}">
                                <td >
                                    <input name="selected" type="checkbox" th:value="${teacherDoc.tid}">
                                </td>
                                <!--<td th:text="${teacherDoc.name}+'('+${teacherDoc.tusername}+')'"></td>-->
                                <td th:text="${teacherDoc.tname}"  class="txt"></td>
                                <td th:text="${teacherDoc.tinventionname}"></td>
                                <td th:text="${teacherDoc.tcategory}"></td>
                                <td th:text="${teacherDoc.tduty}"></td>

                                <td th:text="${teacherDoc.adate}"></td>
                                <!--<td>文件部分  模仿</td>-->

                                <td name="judgestatus" style="display: none" th:text="${teacherDoc.judgestatus}"></td>
                                <!--审核显示部分 -->
                                <!--th:text="${hylw.judgestatus}"-->
                                <td>
                                    <span th:switch="${teacherDoc.judgestatus}">
                                        <p th:case="1">等待院系审核</p>
                                        <p th:case="2">等待学校审核</p>
                                        <p th:case="3">审核通过</p>
                                        <p th:case="4">
                                            <button class="btn btn-xs bg-olive"
                                                    th:onclick="alert([[${teacherDoc.departmentopinion}]])">院系退回</button>
                                        </p>
                                        <p th:case="5">
                                            <button class="btn btn-xs bg-olive"
                                                    th:onclick="alert([[${teacherDoc.schoolopinion}]])">学校退回</button>
                                        </p>
                                        <p th:case="100">待完善</p>
                                    </span>
                                </td>

                                <td>
                                    <span th:if="${teacherDoc.judgestatus} eq '100' or ${teacherDoc.judgestatus} eq '4' or ${teacherDoc.judgestatus} eq '5' or ${teacherDoc.judgestatus} eq '1' ">
                                        <button th:onclick="|javascript:readDoc(${teacherDoc.tid})|" type="button"
                                                class="btn  btn-xs bg-olive ">查看</button>
                                    </span>
                                    <span th:if="  ${teacherDoc.judgestatus} eq '2' or ${teacherDoc.judgestatus} eq '3'">
                                        <button th:onclick="|javascript:readDoc(${teacherDoc.tid})|" type="button"
                                                class="btn btn-xs bg-olive">查看</button>
                                    </span>
                                    <span th:if="${teacherDoc.judgestatus} eq '3'">
                                            <button th:onclick="|javascript:translateDoc(${teacherDoc.tid})|"
                                                    type="button" class="btn btn-xs bg-olive">导出Word</button>
                                        <button th:onclick="|javascript:translatePdf(${teacherDoc.tid})|"
                                                type="button" class="btn btn-xs bg-olive">导出PDF</button>
                                             <button  type="button"
                                                     class="btn btn-xs bg-olive"
                                                     th:onclick="|javascript:Values(${teacherDoc.tid})|">上传/下载证书</button>
                                        <!--data-toggle="modal" data-target="#uploadPdf"-->
                                    </span>
                                    <!--<span>-->
                                    <!---->
                                    <!--</span>-->
                                    <div class="modal fade" id="uploadPdf" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">

                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        上传文件(PDF格式、大小不超过10M)
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="hidden" id="keytid" value="0"/>
                                                    <input type="file" id="pdffile" class="text-center"
                                                           name="pdffile"><br>
                                                    <button onclick="uploadpdffile()" type="submit"
                                                            class="btn btn-primary">提交
                                                    </button>
                                                    <button id="download" onclick="downpdffile()" type="button"
                                                            class="btn btn-primary">下载
                                                    </button>
                                                    <br>
                                                    <input class="btn btn-default Existingfile" style="width: 400px;" disabled="disabled"   />






                                                </div>
                                            </div><!-- /.modal-content -->

                                        </div><!-- /.modal -->

                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--显示分页信息-->
                <div class="modal-footer no-margin-top">
                    <div class="col-md-6">
                        当前第[[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页。一共[[${pageInfo.total}]]条记录
                    </div>

                    <ul class="pagination pull-right no-margin">
                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a th:onclick="|javascript:gozscqnext(1)|">首页</a>
                        </li>


                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo.navigatepageNums}">
                            <a th:onclick="|javascript:gozscqnext(${nav})|" th:text="${nav}"
                               th:if="${nav != pageInfo.pageNum}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                                  th:text="${nav}"></span>
                        </li>
                        <li>
                            <a th:onclick="|javascript:gozscqnext(${pageInfo.pages})|">尾页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="pages/common/aboutteacher:: zschteacherfooter"></div>
<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();
    });
    setSidebarActive("zscq");

    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    // 列表按钮   让按钮变大
    $("#dataList td input[type='checkbox']").iCheck({
        checkboxClass: 'icheckbox_square-blue',
        increaseArea: '20%'
    });
    // 全选操作  全选操作
    $("#selall").click(function () {
        var clicks = $(this).is(':checked');
        if (!clicks) {
            $("#dataList td input[type='checkbox']").iCheck("uncheck");
        } else {
            $("#dataList td input[type='checkbox']").iCheck("check");
        }
        $(this).data("clicks", !clicks);
    });
</script>
</body>

</html>