<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="school/schoolheader :: schoolheader"></div>
</head>

<body class="hold-transition skin-red-light sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">


        <!-- Logo -->
        <a href="#" class="logo">
            <span class="logo-mini"><b>科研处</b></span>
            <span class="logo-lg"><b>成果管理</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs" th:text="${session.USER_SESSION.name}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <p th:text="${session.USER_SESSION.name}">
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a onclick="goPersonPage()" class="btn btn-default btn-flat">修改个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a onclick="lougout()" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->

    <aside class="main-sidebar">
        <section class="sidebar">
            <div th:replace="school/schoolmenu:: schoolmenu"></div>
        </section>
    </aside>


    <div class="content-wrapper">

        <section class="content-header">
            <h1>
                学术著作

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">学术著作</a></li>
            </ol>


        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-body">
                    <!-- 数据表格 -->
                    <div class="table-box">

                        <!--工具栏-->
                        <div class="pull-left">
                            <div class="form-group form-inline">

                            <button type="button" class="btn  btn-xs bg-olive" onclick='sxszzshow()'><i
                                        class="fa fa-pencil-square-o"></i>查看
                                </button>
                                <span th:if="${session.USER_SESSION.roletype} eq '3'">
                                <button type="button" class="btn  btn-xs bg-olive" onclick='sxszzupdate()'><i
                                        class="fa  fa-pencil-square-o"></i>编辑
                                </button>
                                <button type="button" class="btn btn-xs bg-olive" onclick='sxszzdelete()'><i
                                        class="fa  fa-pencil-square-o"></i>删除
                                </button>
                                <button type="button" class="btn  btn-xs bg-olive" onclick='ExcelCheckboxModal()'><i
                                        class="fa fa-save"></i>导出
                                </button>
                                <button type="button" class="btn  btn-xs bg-olive" onclick="downloadsxszzfjsc()"><i
                                        class="fa fa-arrow-circle-o-down"></i>批量下载附件
                                </button>
                                <button type="button" class="btn btn-xs bg-olive" onclick="passauditxszz()"><i
                                        class="fa fa-check"></i>通过
                                </button>
                                <button type="button" class="btn btn-xs btn-danger" onclick="passnoauditxszz()"><i
                                        class="fa  fa-remove"></i>不通过
                                </button>
                                <button type="button" class="btn btn-xs bg-olive" onclick='sxszzcheck()'><i
                                        class="fa fa-pencil-square-o"></i>审核
                                </button>
                                </span>
                                <button type="button" class="btn btn-xs bg-olive" onclick='sxszzQueryModal()'><i
                                    class="fa fa-pencil-square-o"></i>查询
                                </button>
                            <div class="modal fade bs-example-modal-lg" id="selectExcelshow" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">筛选/选择属性</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="tab-pane">
                                                <div class="row data-type">
                                                    <div class="radio col-md-12"><label><input type="checkbox" id="ExcelAll" value="多选">多选</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="department">院系</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="number">工号</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="name">姓名</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="timu">题目</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="dyzz">第一作者</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="qtzz">其它作者</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="isbn">ISBN</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="worktype">出版社类型</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="press">出版社</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="zzlx">著作类型</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="cip">CIP核字</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="time">出版时间</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="zishu">字数(千)</label></div>

                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="points">业绩点</label></div>
                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="reward">科研奖励(万元)</label></div>

                                                    <div class="radio col-md-2"><label><input type="checkbox" name="ExcelRows" value="fq">备注</label></div>

                                                    <div class="col-md-12 data text-center">
                                                        <button type="button" class="btn bg-olive"
                                                                onclick="xszzExcelDownload()">导出Excel
                                                        </button>
                                                        <button type="button" class="btn bg-olive"
                                                                onclick="ExcelCheckboxCancle()">取消
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </div>
                            </div>
                        </div>


                        <div class="modal fade bs-example-modal-lg" id="xszzshowmodal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">数据展示</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tab-pane">
                                            <div class="row data-type">

                                                <div class="col-md-2 title">题目</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="TiMu2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">第一作者</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="DYZZ2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">其它作者</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="QTZZ2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">ISBN</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="ISBN2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">出版社类型</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="WorkType2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">出版社</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="Press2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">著作类型</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="zzlx2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">CIP核字</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="CIP2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">出版时间</div>
                                                <div class="col-md-4 data">
                                                    <input type="date" class="form-control" id="Time2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">字数(千)</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="ZiShu2"
                                                           disabled="disabled">
                                                </div>

                                                <div class="col-md-2 title">业绩点</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="Points2"
                                                           disabled="disabled">
                                                </div>
                                                <div class="col-md-2 title">科研奖励(万)</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="Reward2"
                                                           disabled="disabled">
                                                </div>
                                                <div class="col-md-2 title">备注</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="fq2" disabled="disabled">
                                                </div>



                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>
                        </div>

                        <!--搜索弹窗-->
                        <div class="modal fade bs-example-modal-lg" id="xszzQueryModal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">查询页面</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tab-pane">
                                            <div class="row data-type">
                                                <div class="col-md-2 title mast">题目</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="TiMu9">
                                                    <!--<input type="hidden" class="form-control" id="hid3">-->
                                                </div>

                                                <div class="col-md-2 title mast">第一作者</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="DYZZ9">
                                                </div>

                                                <div class="col-md-2 title mast">其他作者</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="QTZZ9">
                                                </div>


                                                <div class="col-md-2 title mast" >出版社类型</div>
                                                <div class="col-md-4 data">
                                                    <input list="JLNameInput" id="CBSType9"  class="form-control">
                                                    <datalist id="JLNameInput" class="form-control">
                                                        <option>重要出版社</option>
                                                        <option>一般出版社</option>
                                                        <option>国家级规划教材</option>
                                                        <option>省部级规划教材</option>
                                                        <option>一般教材</option>
                                                    </datalist>
                                                </div>

                                                <div class="col-md-2 title mast">著作类型</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="zzType9">
                                                </div>

                                                <div class="col-md-2 title mast">出版时间</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="Times9">
                                                </div>

                                                <!--<input type="text" class="form-control" id="FJSCdisabled3"-->
                                                <!--style="display: none">-->
                                                <!--<input type="text" class="form-control" id="judgestatusdisabled3"-->
                                                <!--style="display: none">-->
                                                <div class="col-md-12 data text-center">
                                                    <button type="button"
                                                            class="btn bg-maroon"
                                                            onclick="gosxszzBydetail()">检索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>
                        </div>


                        <div class="modal fade bs-example-modal-lg" id="xszzupdatemodal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">数据展示</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tab-pane">
                                            <div class="row data-type">

                                                <div class="col-md-2 title mast">题目</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="TiMu">
                                                    <input type="hidden" class="form-control" id="xid">
                                                </div>

                                                <div class="col-md-2 title mast">第一作者</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="DYZZ">
                                                </div>

                                                <div class="col-md-2 title mast">其它作者</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="QTZZ">
                                                </div>

                                                <div class="col-md-2 title mast">ISBN</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="ISBN">
                                                </div>

                                                <div class="col-md-2 title mast">出版社类型</div>
                                                <div class="col-md-4 data" style="overflow:visible;">
                                                    <div id="WorkType" class="col-md-11"></div>
                                                </div>

                                                <div class="col-md-2 title mast">出版社</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="Press">
                                                </div>

                                                <div class="col-md-2 title mast" >著作类型</div>
                                                <div class="col-md-4 data">
                                                    <input list="zzlxlist" class="form-control" id="zzlx">
                                                    <datalist id="zzlxlist">
                                                        <option>无</option>
                                                        <option>专著</option>
                                                        <option>教材</option>
                                                        <option>译著</option>
                                                        <option>点校</option>
                                                        <option>工具书</option>
                                                        <option>评著</option>
                                                        <option>科普</option>
                                                    </datalist>


                                                    <!--<select class="form-control" id="zzlx">-->
                                                        <!--<option>无</option>-->
                                                        <!--<option>专著</option>-->
                                                        <!--<option>教材</option>-->
                                                        <!--<option>译著</option>-->
                                                        <!--<option>点校</option>-->
                                                        <!--<option>工具书</option>-->
                                                        <!--<option>评著</option>-->
                                                        <!--<option>科普</option>-->
                                                    <!--</select>-->
                                                </div>

                                                <div class="col-md-2 title mast">CIP核字</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="CIP">
                                                </div>

                                                <div class="col-md-2 title mast">出版时间</div>
                                                <div class="col-md-4 data">
                                                    <input type="date" class="form-control" id="Time">
                                                </div>

                                                <div class="col-md-2 title mast">字数(千字)</div>
                                                <div class="col-md-4 data">
                                                    <input type="number" class="form-control" onchange="judgereward()" id="ZiShu">
                                                </div>

                                                <div class="col-md-2 title mast">业绩点</div>
                                                <div class="col-md-4 data">

                                                    <input type="number" class="form-control" id="Points">

                                                </div>
                                                <div class="col-md-2 title">科研奖励(万元)</div>
                                                <div class="col-md-4 data">
                                                    <input type="number" class="form-control" id="Reward">
                                                </div>

                                                <div class="col-md-2 title">备注</div>
                                                <div class="col-md-4 data">
                                                    <input type="text" class="form-control" id="fq">
                                                </div>


                                                <div class="col-md-12 data text-center">
                                                    <button type="button" class="btn bg-maroon"
                                                            onclick="xszzupdatesubmit()">更新
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>
                        </div>


                        <div class="box-tools pull-right">
                            <table>
                                <tr>
                                    <td>院系：</td>
                                    <td>
                                        <select id="department" class="form-control input-sm ">

                                            <option value="-1" th:selected="-1==${department}">请选择</option>
                                            <span th:each="de:${departments}">
                                                <option th:value="${de.name}" th:text="${de.name}"
                                                        th:selected="${de.name eq department}"></option>
                                            </span>
                                        </select>
                                    </td>
                                    <td>姓名：</td>
                                    <td>
                                        <input type="text" class="form-control input-sm " id="number"
                                               th:value="${number}">
                                    </td>
                                    <td>开始时间：</td>
                                    <td>
                                        <input type="date" class="form-control input-sm" id="start" th:value="${start}">
                                    </td>
                                    <td>结束时间：</td>
                                    <td>
                                        <input type="date" class="form-control input-sm" id="end" th:value="${end}">
                                    </td>
                                    <td>审核状态：</td>
                                    <td>
                                        <select id="judgestatus" class="form-control">
                                            <option value="-1" th:selected="-1==${judgestatus}">请选择</option>

                                            <option value="2" th:selected="2==${judgestatus}">等待学校审核</option>
                                            <option value="3" th:selected="3==${judgestatus}">审核通过</option>

                                            <option value="5" th:selected="5==${judgestatus}">学校退回</option>

                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" style="display:none" class="form-control  input-sm" id="TiMu8" th:value="${timu}">
                                    </td>
                                    <td>
                                        <input type="text" style="display:none" class="form-control  input-sm" id="DYZZ8" th:value="${dyzz}">
                                    </td>
                                    <td>
                                        <input type="text" style="display:none" class="form-control  input-sm" id="QTZZ8" th:value="${qtzz}">
                                    </td>
                                    <td>
                                        <input type="text" style="display:none" class="form-control  input-sm" id="CBSType8" th:value="${cbstype}">
                                    </td>
                                    <td>
                                        <input type="text" style="display:none" class="form-control  input-sm" id="zzType8" th:value="${zztype}">
                                    </td>
                                    <td>
                                        <input type="text" style="display:none" class="form-control  input-sm" id="Times8" th:value="${times}">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default" onclick="gosxszzBydetail()"><i
                                                class="fa fa-search"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <!--工具栏/-->

                        <!--工具栏/-->
                        <!--数据列表-->
                        <table id="dataList" class="totable table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="text-center" width="1%"><input type="checkbox" id="selall"
                                                                          class="icheckbox_square-blue"></th>
                                <th class="text-center" width="4%">院系</th>

                                <th class="text-center" width="3%">填报人(工号)</th>
                                <th class="text-center" width="4%">题目</th>
                                <th class="text-center" width="2%">第一作者</th>
                                <th class="text-center" width="2%">出版社</th>
                                <th class="text-center" width="2%">出版社类型</th>
                                <th class="text-center" width="2%">著作类型</th>

                                <th class="text-center" width="3%">CIP核字</th>
                                <th class="text-center" width="2%">业绩点</th>
                                <th class="text-center" width="2%">科研奖励(万)</th>
                                <th class="text-center" width="2%">出版时间</th>
                                <th class="text-center" width="4%">附件</th>
                                <th class="text-center" width="2%">审核状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="xszz:${pageInfo.list}">
                                <td>
                                    <input type="checkbox" name="selected" th:value="${xszz.xid}">
                                </td>
                                <td th:text="${xszz.department}" th:title="${xszz.department}" class="txt"></td>

                                <td th:text="${xszz.name}+'('+${xszz.number}+')'" th:title="${xszz.name}+'('+${xszz.number}+')'"  class="txt"></td>
                                <td th:text="${xszz.timu}" th:title="${xszz.timu}" class="txt"></td>
                                <td th:text="${xszz.dyzz}"  th:title="${xszz.dyzz}" class="txt"></td>
                                <td th:text="${xszz.press}" th:title="${xszz.press}" class="txt"></td>
                                <td th:text="${xszz.worktype}" th:title="${xszz.worktype}" class="txt"></td>
                                <td th:text="${xszz.zzlx}" th:title="${xszz.zzlx}" class="txt"></td>

                                <td th:text="${xszz.cip}" th:title="${xszz.cip}" class="txt"></td>
                                <td th:text="${xszz.points}" th:title="${xszz.points}" class="txt"></td>
                                <td th:text="${xszz.reward}" th:title="${xszz.reward}" class="txt"></td>
                                <td th:text="${xszz.time}" th:title="${xszz.time}" class="txt"></td>
                                <td name="fjsc" style="display: none" th:text="${xszz.fjsc}"></td>
                                <td>
                                    <a class="btn btn-xs bg-olive" th:onclick="onlineshow([[${xszz.fjsc}]])">预览</a>
                                    <a class="btn btn-xs bg-olive" th:onclick="downloadfile([[${xszz.fjsc}]])">下载</a>
                                    <a class="btn btn-xs bg-olive"
                                       th:onclick="showRetransmissionModal([[${xszz.xid}]],
                                       [[${xszz.fjsc}]],'学术著作',[[${xszz.name}]],
                                       [[${xszz.number}]],[[${xszz.department}]])">重传</a>
                                </td>
                                <td name="judgestatus" style="display: none" th:text="${xszz.judgestatus}"></td>
                                <!--审核显示部分 -->
                                <!--th:text="${hylw.judgestatus}"-->
                                <td>
                                    <span th:switch="${xszz.judgestatus}">
                                        <p th:case="1">等待院系审核</p>
                                        <p th:case="2">等待学校审核</p>
                                        <p th:case="3">审核通过</p>
                                        <p th:case="4">
                                            <button class="btn btn-xs bg-olive"
                                                    th:onclick="alert([[${xszz.departmentopinion}]])">院系退回</button>
                                        </p>
                                        <p th:case="5">
                                            <button class="btn btn-xs bg-olive"
                                                    th:onclick="alert([[${xszz.schoolopinion}]])">学校退回</button>
                                        </p>
                                        <p th:case="100">待完善</p>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade bs-example-modal-lg" id="retransmissionFile" tabindex="-1"
                     role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="tab-pane">
                                    <div class="row data-type">
                                        <div class="col-md-12 title">核对信息</div>
                                        <div class="col-md-2 title">编号</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" id="newid" disabled>
                                        </div>
                                        <div class="col-md-2 title">院系</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" id="newdepartment" disabled>
                                        </div>
                                        <div class="col-md-2 title">工号</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" id="newnumber" disabled>
                                        </div>
                                        <div class="col-md-2 title">姓名</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" id="newname" disabled>
                                        </div>
                                        <div class="col-md-2 title">类型</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" id="newtype" disabled>
                                        </div>
                                        <div class="col-md-2 title">老文件名称</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" id="newfjscname" disabled>
                                        </div>
                                        <div class="col-md-2 title">更新的文件</div>
                                        <div class="col-md-10 data">
                                            <input type="file" class="form-control" id="newfile" accept=".pdf">
                                        </div>

                                        <div class="col-md-12 data text-center">
                                            <button type="button" class="btn  btn-success" onclick="retransmission()">
                                                更新
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>


                <div class="modal-footer no-margin-top">
                    <div class="col-md-6">
                        当前第[[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页。一共[[${pageInfo.total}]]条记录
                    </div>

                    <ul class="pagination pull-right no-margin">
                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a th:onclick="|javascript:gosxszznext(1)|">首页</a>
                        </li>


                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo.navigatepageNums}">
                            <a th:onclick="|javascript:gosxszznext(${nav})|" th:text="${nav}"
                               th:if="${nav != pageInfo.pageNum}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                                  th:text="${nav}"></span>
                        </li>
                        <li>
                            <a th:onclick="|javascript:gosxszznext(${pageInfo.pages})|">尾页</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
    </div>
</div>
<div th:replace="school/schoolfooter :: schoolfooter"></div>
<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();
    });
    setSidebarActive("xszz");

    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    // 列表按钮   让按钮变大
    $("#dataList td input[type='checkbox']").iCheck({
        checkboxClass: 'icheckbox_square-blue',
        increaseArea: '20%'
    });
    // 全选操作  全选操作
    $("#selall").click(function () {
        var clicks = $(this).is(':checked');
        if (!clicks) {
            $("#dataList td input[type='checkbox']").iCheck("uncheck");
        } else {
            $("#dataList td input[type='checkbox']").iCheck("check");
        }
        $(this).data("clicks", !clicks);
    });
    var firstTime=true;
    $('#WorkType').combotree({
        url: '/approval/json/xszztree.json',
        method: 'get',
        width:'250px',
        editable:true,
        animate:true,
        labelPosition:'top',
        onBeforeSelect:function(node){
            if(node.children){
                //先封装成一个tree
                var t = $('#WorkType').combotree('tree');
                //然后使用toggle
                t.tree('toggle',node.target);//注意和下一行的顺序
                t.tree("unselect");
                //判断node节点下是不是有childred？ 有：点击的是一个父级菜单
                return;
            }
        },

        onChange:function () {
            if (firstTime) {
                firstTime = false;
                return;
            }
            //获取当前combotree的tree对象
            var tree = $('#WorkType').combotree('tree');
            //获取当前选中的节点
            var data = tree.tree('getSelected');
            var treeObj = $("#WorkType").combotree("tree");//先获取combotree的树对象
            var s = treeObj.tree("getParent", data.target);

            // console.log(s.text);
            var value = $('#WorkType').combotree('getText');
            var mark = jsonarray[value];
            $("#Points").val(mark[0])
            $("#Reward").val(mark[1])
            if (s!=null && s.text=='重要出版社'){
                $("#Press").val(value);
                alert("系统将根据字数计算科研奖励，请如实填写");
                $('#WorkType').combotree('setValue', '重要出版社');
            }else{
                $("#Press").val("");
            }
            if (value=='国家级规划教材'){
                alert("系统将根据字数计算科研奖励，请如实填写");
            }
        }

    });


    var jsonarray = null;
    $.getJSON("/approval/json/rewardAndPoints.json", function (data) {
        jsonarray = data;
    })

    function judgereward() {
        var zishu = $('#ZiShu').val();
        var value = $('#WorkType').combotree('getText');

        if (value=='重要出版社' || value=='国家级规划教材'){
            var jiangjin = Math.floor(zishu)/100;

            $("#Reward").val(jiangjin);
        }
    }
</script>
</body>

</html>
