<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="school/schoolheader :: schoolheader"></div>
</head>

<body class="hold-transition skin-red-light sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">


        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>科研处</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>成果管理</b></span>
        </a>


        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs" th:text="${session.USER_SESSION.name}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <p th:text="${session.USER_SESSION.name}">
                                    <!--张猿猿 - 数据管理员-->
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a onclick="goPersonPage()" class="btn btn-default btn-flat">修改个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a onclick="lougout()" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->
    <!-- 导航侧栏 -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <div th:replace="school/schoolmenu:: schoolmenu"></div>
        </section>
        <!-- /.sidebar -->
    </aside>


    <div class="content-wrapper">
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                数据管理
                <small>数据列表</small>
            </h1>
            <ol class="breadcrumb">
                <li ><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">数据管理</a></li>
                <li class="active">数据列表</li>
            </ol>
        </section>
        <!-- 内容头部 /-->
        <!-- 正文区域 -->
        <section class="content">
            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-body">
                    <!-- 数据表格 -->
                    <div class="table-box">

                        <!--工具栏-->
                        <div class="pull-left">
                            <div class="form-group form-inline">
                                <div class="btn-group">
                                    <button type="button" onclick="ExcelBrief()" class="btn btn-default"><i
                                            class="fa fa-file-o"></i>
                                        导出汇总表
                                    </button>

                                </div>
                            </div>
                        </div>

<!--                        <div class="box-tools form-inline pull-right">-->
<!--                            <div class="has-feedback">-->
<!--                                <input id="teaid" type="text" class="form-control" placeholder="请输入教师工号">-->
<!--                                <button class="text-right" onclick="selectByname()">查询</button>-->
<!--                            </div>-->
<!--                        </div>-->


                        <div class="form-group  form-inline pull-right">
                            <label for="select_department">院系：</label>
                            <select id="select_department"  class="form-control" style="margin-right: 10px">
                                <option value="请选择" th:field="*{department}">请选择</option>
                                <option th:each="depa:${departments}" th:text="${depa.name}" th:value="${depa.name}" th:selected="${department==depa.name}"></option>
                            </select>


                            <label for="select_tea_id" >教师工号:</label>
                            <input id="select_tea_id"  th:value="${id}" type="text" class="form-control "  placeholder="请输入教师工号" style="margin-right: 10px">

                            <label  for="select_name">姓名：</label>
                            <input id="select_name" th:value="${name}" type="text" class="form-control "  placeholder="请输入教师姓名" style="margin-right: 10px">

                            <button onclick="selectDocByDetail()" id="select_where" class="btn btn-default btn-sm"><i class="fa fa-search"></i></button>
                        </div>


                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="text-center">院系</th>
                                <th class="text-center">职工号</th>
                                <th class="text-center">申请人</th>
                                <th class="text-center">项目名称</th>
                                <th class="text-center">电话</th>
                                <th class="text-center">状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="departmentDoc:${pageInfo.list}">
                                <td th:text="${departmentDoc.department}"></td>
                                <td th:text="${departmentDoc.tusername}"></td>
                                <td th:text="${departmentDoc.tinventionname}"></td>
                                <td th:text="${departmentDoc.tname}"></td>
                                <td th:text="${departmentDoc.tphone}"></td>
                                <td th:switch="${departmentDoc.judgestatus}">
                                    <p th:case="2" style="color: blue">等待学校审核</p>
                                    <p th:case="3" style="color: green">通过学校审核</p>

                                </td>


                                <td>
                                    <!--${departmentDoc.tid}-->
                                    <span th:if="${departmentDoc.judgestatus} eq '2'">
                                    <button th:onclick="|javascript:readSchoolDoc(${departmentDoc.tid})|" type="button"
                                            class="btn bg-olive">查看
                                    </button>
                                    </span>
                                    <span th:if="${departmentDoc.judgestatus} eq '3'">
                                            <button th:onclick="|javascript:translateDoc(${departmentDoc.tid})|"
                                                    type="button" class="btn bg-olive">导出</button>


                                    </span>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                        <!--数据列表/-->


                    </div>
                    <!-- 数据表格 /-->


                </div>


                <div class="modal-footer no-margin-top">
                    <div class="col-md-6">
                        当前第[[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页。一共[[${pageInfo.total}]]条记录
                    </div>

                    <ul class="pagination pull-right no-margin">
                        <li th:if="${pageInfo.hasPreviousPage}">
<!--                            <a th:href="'/approval/jump/loginSuccess?pageNum=1'">首页</a>-->
                            <a th:onclick="|javascript:goDocNext(1)|">首页</a>
                        </li>


                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo.navigatepageNums}">
<!--                            <a th:href="'/approval/jump/loginSuccess?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>-->
                            <a th:onclick="|javascript:goDocNext(${nav})|" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                                  th:text="${nav}"></span>
                        </li>


                        <li>
<!--                            <a th:href="'/approval/jump/loginSuccess?pageNum='+${pageInfo.pages}">尾页</a>-->
                            <a th:onclick="|javascript:goDocNext(${pageInfo.pages})|">尾页</a>
                        </li>
                    </ul>
                </div>


            </div>
        </section>
        <!-- 正文区域 /-->
    </div>

    <!-- @@close -->
    <!-- 内容区域 /-->


</div>


<div th:replace="school/schoolfooter :: schoolfooter"></div>
<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();


    });


    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    $(document).ready(function () {
        setSidebarActive("admin-blank");
    });
</script>
</body>

</html>