<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="school/schoolheader :: schoolheader"></div>
</head>

<body class="hold-transition skin-red-light sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">


        <!-- Logo -->
        <a href="#" class="logo">
            <span class="logo-mini"><b>科研处</b></span>
            <span class="logo-lg"><b>成果管理</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs" th:text="${session.USER_SESSION.name}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <p th:text="${session.USER_SESSION.name}">
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a onclick="goPersonPage()" class="btn btn-default btn-flat">修改个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a onclick="lougout()" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->

    <aside class="main-sidebar">
        <section class="sidebar">
            <div th:replace="school/schoolmenu:: schoolmenu"></div>
        </section>
    </aside>


    <div class="content-wrapper">

        <section class="content-header">
            <h1>
                科研管理

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">平台管理</a></li>
            </ol>


        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-body">
                    <!-- 数据表格 -->
                    <div class="table-box">

                        <div class="pull-left">
                            <div class="form-group form-inline">
                                <span th:if="${session.USER_SESSION.roletype} eq '3'">
                                <button type="button" class="btn btn-xs bg-olive" onclick='addPtglModal()'>
                                    <i class="fa fa-save"></i>添加
                                </button>
                                </span>
                                <button type="button" class="btn btn-xs bg-olive" onclick='goptgl()'>
                                    <i class="fa fa-refresh"></i>刷新
                                </button>
                            </div>
                        </div>

                        <div class="box-tools pull-right ">
                            <table>
                                <tr>
                                    <td>院系：</td>
                                    <td>
                                        <select id="departmenttop" class="form-control input-sm ">
                                            <option value="-1" th:selected="-1==${department}">请选择</option>
                                            <span th:each="de:${departments}">
                                                <option th:value="${de.name}" th:text="${de.name}"
                                                        th:selected="${de.name eq department}"></option>
                                        </span>
                                        </select>
                                    </td>
                                    <td>平台名称：</td>
                                    <td>
                                        <input type="text" class="form-control input-sm " id="name"
                                               th:value="${name}">
                                    </td>
                                    <td>最早获批时间：</td>
                                    <td>
                                        <input type="date" class="form-control input-sm" id="start" th:value="${start}">
                                    </td>
                                    <td>最晚获批时间：</td>
                                    <td>
                                        <input type="date" class="form-control  input-sm" id="end" th:value="${end}">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default" onclick="goptglBydetail()"><i
                                                class="fa fa-search"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <table id="dataList" class="totable table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="text-center" width="2%">所属院部</th>
                                <th class="text-center" width="2%">平台名称</th>
                                <th class="text-center" width="1%">编号</th>
                                <th class="text-center" width="2%">层次</th>
                                <th class="text-center" width="2%">批准部门</th>
                                <th class="text-center" width="2%">负责人</th>
                                <th class="text-center" width="2%">获批时间</th>
                                <th class="text-center" width="2%">附件</th>
                                <span th:if="${session.USER_SESSION.roletype} eq '3'">
                                <th class="text-center" width="4%">操作</th>
                                </span>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list:${pageInfo.list}">
                                <td th:text="${list.department}" th:title='${list.department}' class="txt"></td>
                                <td th:text="${list.platform}" th:title='${list.platform}' class="txt"></td>
                                <td th:text="${list.no}" th:title='${list.no}' class="txt"></td>
                                <td th:text="${list.level}" th:title='${list.level}' class="txt"></td>
                                <td th:text="${list.approve_department}" th:title='${list.approve_department}' class="txt"></td>

                                <td th:text="${list.principal}" th:title='${list.principal}' class="txt"></td>
                                <td th:text="${list.approved_time}" th:title='${list.approved_time}' class="txt"></td>
                                <td  class="txt">
                                    <a class="btn btn-xs bg-olive" th:onclick="onlineshow([[${list.annex}]])">预览</a>
                                    <a class="btn btn-xs bg-olive" th:onclick="downloadfile([[${list.annex}]])">下载</a>
                                </td>
                                <td th:if="${session.USER_SESSION.roletype} eq '3'">
                                    <button  type="button" class="btn btn-xs bg-olive" th:onclick='ptglUpdate([[${list.id}]])'>
                                        <i class="fa  fa-pencil-square-o"></i>编辑
                                    </button>
                                    <button  type="button" class="btn btn-xs bg-olive" th:onclick='ptglDelete([[${list.id}]])' ><i
                                            class="fa  fa-pencil-square-o"></i>删除
                                    </button>
                                    <a class="btn btn-xs bg-olive"
                                       th:onclick="showResetModalFilePtgl([[${list.id}]],
                                       [[${list.annex}]],'平台管理',[[${list.department}]],[[${list.platform}]])">
                                        重传</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="modal-footer no-margin-top">
                    <div class="col-md-6">
                        当前第[[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页。一共[[${pageInfo.total}]]条记录
                    </div>

                    <ul class="pagination pull-right no-margin">
                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a th:onclick="|javascript:goptglnext(1)|">首页</a>
                        </li>


                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo.navigatepageNums}">
                            <a th:onclick="|javascript:goptglnext(${nav})|" th:text="${nav}"
                               th:if="${nav != pageInfo.pageNum}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                                  th:text="${nav}"></span>
                        </li>
                        <li>
                            <a th:onclick="|javascript:goptglnext(${pageInfo.pages})|">尾页</a>
                        </li>
                    </ul>
                </div>


            </div>
        </section>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="addmodal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">数据展示</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane">
                    <div class="row data-type">
                        <div class="col-md-2 title">平台名称</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="platform">
                        </div>
                        <div class="col-md-2 title">编号</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="no">
                        </div>

                        <div class="col-md-2 title">层次</div>
                        <div class="col-md-4 data">
                            <select class="form-control" id="level">
                                <option>国家级</option>
                                <option>省部级</option>
                                <option>地厅级</option>
                                <option>校级</option>
                            </select>
                        </div>

                        <div class="col-md-2 title">批准部门</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="approve_department">
                        </div>

                        <div class="col-md-2 title">所属院部</div>
                        <div class="col-md-4 data">
                            <select id="department" class="form-control input-sm ">
                                <option value="-1">请选择</option>
                                <span th:each="de:${departments}">
                                                <option th:value="${de.name}" th:text="${de.name}"
                                                        th:selected="${de.name eq department}"></option>
                                        </span>
                            </select>
<!--                            <input type="text" class="form-control" id="department">-->
                        </div>

                        <div class="col-md-2 title">负责人</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="principal">
                        </div>

                        <div class="col-md-2 title">获批时间</div>
                        <div class="col-md-4 data">
                            <input type="date" class="form-control" id="approved_time">
                        </div>

                        <div class="col-md-2 title">附件</div>
                        <div class="col-md-4 data">
                            <input  type="file" class="form-control" id="annex" accept=".pdf">
                        </div>
                        <div class="col-md-12 data text-center">
                            <button type="button" class="btn bg-maroon" onclick="ptglInsert()">添加</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="updatemodal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">数据展示</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane">
                    <div class="row data-type">
                        <div class="col-md-2 title">平台名称</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="platform2" >
                        </div>
                        <input type="hidden" class="form-control" id="id2">
                        <div class="col-md-2 title">编号</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="no2">
                        </div>

                        <div class="col-md-2 title">层次</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="level2">
                        </div>

                        <div class="col-md-2 title">批准部门</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="approve_department2">
                        </div>

                        <div class="col-md-2 title">所属院部</div>
                        <div class="col-md-4 data">
                            <select id="department2" class="form-control input-sm ">
                                <span th:each="de:${departments}">
                                                <option th:value="${de.name}" th:text="${de.name}"
                                                        th:selected="${de.name eq department}"></option>
                                        </span>
                            </select>
                        </div>

                        <div class="col-md-2 title">负责人</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="principal2" >
                        </div>

                        <div class="col-md-2 title">获批时间</div>
                        <div class="col-md-4 data">
                            <input type="date" class="form-control" id="approved_time2" >
                        </div>
                        <div class="col-md-2 title">附件</div>
                        <div class="col-md-4 data">
                            <input disabled type="text" class="form-control" id="annex2" >
                        </div>


                        <div class="col-md-12 data text-center">
                            <button type="button" class="btn bg-maroon" onclick="ptglUpdateData()">更新</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="retransmissionFile" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div class="tab-pane">
                    <div class="row data-type">
                        <div class="col-md-12 title">文件重传</div>
                        <div class="col-md-2 title">编号</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="newid" disabled>
                        </div>

                        <div class="col-md-2 title">类别</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="newtype" disabled>
                        </div>
                            <input type="hidden" class="form-control" id="newplatform" disabled>
                            <input type="hidden" class="form-control" id="newdepartment" disabled>
                        <div class="col-md-2 title">老文件名称</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" id="oldname" disabled>
                        </div>
                        <div class="col-md-2 title">更新的文件</div>
                        <div class="col-md-4 data">
                            <input type="file" class="form-control" id="annexFile" accept=".pdf">
                        </div>

                        <div class="col-md-12 data text-center">
                            <button type="button" class="btn  btn-success" onclick="resetFilePtgl()">
                                更新
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<div th:replace="school/schoolfooter :: schoolfooter"></div>
<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();
    });
    setSidebarActive("ptgl");

    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    // 列表按钮   让按钮变大
    $("#dataList td input[type='checkbox']").iCheck({
        checkboxClass: 'icheckbox_square-blue',
        increaseArea: '20%'
    });
    // 全选操作  全选操作
    $("#selall").click(function () {
        var clicks = $(this).is(':checked');
        if (!clicks) {
            $("#dataList td input[type='checkbox']").iCheck("uncheck");
        } else {
            $("#dataList td input[type='checkbox']").iCheck("check");
        }
        $(this).data("clicks", !clicks);
    });

</script>
</body>

</html>
